<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<title>中化BBC商城-APP - 买家用户注册</title> 
<link href="$!webPath/resources/style/weixin/default/css/phone.css"
	rel="stylesheet" type="text/css" />
<script src="$!webPath/resources/js/jquery-1.6.2.js"></script>
<script src="$!webPath/resources/js/jquery.validate.min.js"></script>
<script
	src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"
	type="text/ecmascript"></script>
<script>
</script>
</head>
<body class="bodybg">
	<div class="Agreement fff plr10">
			<h2  style="text-align: center">法律声明</h2>
		<p>欢迎阅读农易宝服务使用协议（下称“本协议”）</p>
		<h3>第一章 接受条款</h3>
		<p>本协议阐述了农易宝为用户提供服务的条款或条件及用户的责任。本协议自您点击“同意”按钮，并注册成为农易宝的用户时即生效。农易宝可以随时自行全权决定更改条款，并以网站的形式进行更新，不再对用户单独通知。经修订的条款一经在网站上发布后，立即自动生效。如用户不同意相关修订，请立即停止使用服务。如用户继续使用服务，则将视为已接受经修订的条款，当该用户与农易宝发生争议时，应以最新的条款为准。
		</p>
		<h3>第二章 注册</h3>
		1、服务使用对象
		凡遵守中华人民共和国法律，承认本协议，愿意接受和同意农易宝相关服务条款或条件的个人以及具有合法经营资格的企业都可以通过申请注册农易宝。农易宝根据注册用户的条件，为其提供各种服务。
		2、注册账户
		个人用户在按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，企业用户在按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序，且通过线下联系农易宝工作人员、获得审核后，或以其他农易宝允许的方式实际使用农易宝服务时，该用户即受本协议的约束。用户可以使用【用户名、手机号码】或者农易宝允许的其它方式作为登录手段进入农易宝。
		<h3>第三章 服务说明</h3>
		<p>农易宝为用户提供信息收集、交流以及农易宝公布的各类规则所规定的各类网上交易和服务。
		农易宝不承担因用户提供的任何信息而产生的任何责任，也不承担用户与其它用户之间因网上交易而产生的本协议或各类规则规定之外的其他责任。
		用户同意，农易宝有权独立判断用户的行为是否符合本协议及相关规则的要求。农易宝可随时中断对违反本协议及相关规则内容的用户的服务。
		</p>
		<h3>第四章 服务使用规则</h3>
		<p>信息发布规则</p>
		<ul>
		<li>1、用户应对刊登在农易宝上的信息的真实性、准确性、完整性等负责。农易宝并无义务审查或筛选其内容，对于用户在农易宝刊登的信息，农易宝不负任何责任。</li>
		<li>2、农易宝为用户提供网上信息发布、以及在线交易服务。</li>
		<li>3、用户在农易宝发布的信息：
		<p>
		(1)不得违反任何法律、法规、政策或规定；<br/>
		(2)不得侵犯他人权益，包括但不限于：版权、专利权、商标权、技术秘密、商业秘密、财产权、刊登权及隐私权；<br/>
		(3)不得发表、传播、散布含有诽谤、破坏商誉、恐吓或骚扰等内容的信息；<br/>
		(4)不得发表、传播、散布含有淫秽、粗俗或色情等内容的信息；<br/>
		(5)不得发表、传播、散布与农易宝提供的商品、服务或所属板块无关的信息，或农易宝认为违反本协议或各类规则的其他信息；<br/>
		(6)不得发布和出售假货商品；<br/>
		(7)不得涉及欺骗行为或售卖来源不明的商品；<br/>
		(8)不得直接或间接涉及本协议禁止交易的，或在农易宝以外的其它网站登记的商品或服务内容；<br/>
		(9)不得未经他人同意或以其他方式收集有关他人的信息，但根据本协议或各类规则的规定合理使用的除外；<br/>
		(10)不得传送含有病毒、蠕虫、消息删除虫或其他任何可能破坏他人电脑运行的软件或程序。<br/>
		</p>
		</li>
		<li>
		4、农易宝有权更改、编辑、删除或过滤用户发布的可能违反法律、法规、政策，或违反本协议规定的任何方面的信息。
		<p>用户承认并同意农易宝不承担用户由于信赖农易宝上登载的任何信息而遭受的任何损害、损失或费用。</p>
		<p>用户因使用农易宝造成农易宝遭受损害、损失的，用户同意承担赔偿责任。</p>
		</li>
		</ul>
		<h3>第五章 用户违反规则的后果</h3>
		<p>在不限制其他补救措施的前提下，用户发生下述任一情况，农易宝可立即发出警告，暂时中止、永久中止或终止用户资格，删除用户的任何现有产品信息，以及在网站上展示的任何其他资料：
		</p>
		<ul>
		<li>
		1、用户违反本协议；
		</li>
		<li>
		2、农易宝无法核实或鉴定用户向农易宝提供的任何信息；
		</li>
		<li>
		3、农易宝相信用户的行为可能会使自身、农易宝用户或通过农易宝提供服务的第三者服务供应商发生任何法律责任。在不限制任何其他补救措施的前提下，若发现用户从事涉及农易宝的诈骗活动，农易宝可暂停或终止用户的账户。
		
		</li>
		
		</ul>
		<p>经生效法律文书确认用户存在违法或违反本协议行为或者农易宝自行判断用户涉嫌存在违法或违反本协议行为的，农易宝有权在农易宝上以网络发布形式公布用户的违法行为并做出处罚（包括但不限于限权、终止服务等）。</p>
		<h3>第六章 安全与保密</h3>
		<ul>
		<li>1、农易宝已采用了符合国际信息准则的措施来保护用户的信息。这些措施包括技术和程序上的步骤，可防止用户的数据被误用、非法访问、泄露、丢失、更改或破坏。
		</li><li>2、用户须自行负责对自己的登录名和密码保密，且须对该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。用户同意：
		<p>(1)用户在出现未经授权使用用户名或密码，或违反保密规定的任何其他情况下，应立即通知农易宝；<br/>
		(2)用户应确保在每个使用时段结束时，以正确步骤离开APP和网站。农易宝不能也不会对因用户未能遵守本款规定而发生的任何损失或损毁负责。
		<br/>(3)除非有法律规定或司法裁定，且征得农易宝的同意，否则，用户名和密码不得以任何方式转让、赠与或继承。</p>
		</li>
		<li>3、资料收集与使用方式
		<p>(1)农易宝在用户申请注册时，在用户进行交易时，会收集用户的资料；农易宝也可以从商业伙伴处获取用户的资料。<br/>
		(2)农易宝收集的有关资料，包括但不限于用户的法定名称、地址、电话号码、传真号码、电子邮件地址或其他商业信息等资料以及用户出价、购买、物品登录和用户之间的信用评价以及违反农易宝规则的相关记录等。
		<br/>(3)农易宝会收集资料作以下用途：改进为用户提供的广告及网页内容、完成用户对在农易宝进行网上交易的要求，及通知用户关于本行业的国内外行情及相关信息或特别活动。
		</p></li>
		<li>4、农易宝承诺在未通知用户的情况下不会向任何人透露用户（企业或个人）的资料。但在如下情况，农易宝为遵守法律、法规或出于善意的目的，会向其它人士或单位提供相关资料：
		<p>(1)经用户同意，与其它人士或单位共享用户资料的；
		<br/>(2)需要与其它人士或单位共享用户资料，才能够提供用户所要求的产品或服务的(若我们没有事先通知用户，这些单位或相关人士均无权使用我们提供的资料，作提供服务以外的其它用途)；
		<br/>(3)相关的政府职能部门、司法机关依据法律、法规的规定，循法定程序要求农易宝提供用户信息的；
		<br/>(4)用户在农易宝的行为违反法律、法规或本协议及相关规则，农易宝向有关政府部门或司法机关提交相关资料，以追究违法犯罪行为的；
		<br/>(5)为保护和维护农易宝的权利或财产的；
		<br/>(6)在紧急情况下保护农易宝或农易宝的用户或社会大众的安全的；
		<br/>(7)其他农易宝根据法律法规或交易习惯认为合适的披露。</p>
		</li></ul>
		
		<h3>第七章 收费</h3>
		<p>用户因进行交易、向农易宝获取有偿服务或接触本公司服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均自行承担。农易宝保留在无须发出书面通知，仅在网站公示的情况下，暂时或永久地更改或停止部分或全部服务的权利。
		</p>
		<h3>第八章 免责条款及赔偿</h3>
		<p>用户同意: 农易宝不对用户或任何第三人因下列情况引起的损失负责：</p>
		<ul>
		<li>1、 因不可抗力（包括但不限于地震、台风、水灾、火灾、战争及其他不能预见、不能避免且不可克服的客观事件）导致的；
		</li><li>2、因农易宝不可预测或无法控制的系统故障、设备故障、通讯故障、停电、黑客攻击等突发事件给用户造成的损失；
		</li>3、农易宝终止用户资格或拒绝用户接入的；
		</li><li>4、有关商品或服务违反或被指称违反任何保证的；
		</li><li>5、非法使用用户的名称、帐号、密码登录的；
		</li><li>6、非经授权获取或更改用户所传送的信息或数据的；
		</li><li>7、服务中的任何第三人的声明或行为；
		</li><li>8、在任何情况下，农易宝对用户的损失、损害或请求的全部责任不应超过用户向农易宝已支付的与该争议标的有关的金额。
		</li></ul>
		<h3>第九章 通知</h3>
		<ul>
		<li>1、用户应当准确填写并及时更新所提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便农易宝或其他用户与进行有效联系，因通过这些联系方式无法与用户取得联系，导致用户在使用农易宝服务过程中产生任何损失或增加费用的，应由用户自身完全独自承担。用户了解并同意，用户有义务保持提供的联系方式的有效性，如有变更需要更新的，应按农易宝的要求进行操作。
		</li>
		<li>2、农易宝以网站公告、电子邮件、手机短信、传真或挂号信的方式发送通知或联系用户。自网站公告、电子邮件、手机短信、传真发出当日，信件自付邮当日起满x日，视为该通知或联系已送达。
		</li>
		</ul>
		<h3>第十章 法律适用及争议解决</h3>
		<p>
		本协议受中华人民共和国法律管辖。发生争议时，如对有关业务规则有不同的理解的，以在网站上最新颁布的为准并据之解释。<br/>
		因履行和解释本协议及相关规则发生的争议，农易宝与用户、用户与用户须先依友好协商方式解决。协商不成的，任何一方均可向【农易宝】所在地人民法院提起诉讼。
		农易宝与用户、用户与用户在对争议事项进行协商、和解、调解、诉讼的过程中，应继续履行本协议除争议事项外的其他条款。<br/>
		本用户服务协议由农易宝负责解释。</p>
	</div>
</body>
</html>
